
.goods {
  max-width: 1140px;
  margin: 0 auto;
  &__container {
    margin-top: 50px;
  }
  &__button-filter {
    background-color: white;
    color: $black-color;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    border: none;
    white-space: nowrap;
    cursor: pointer;
  }
  &__button-text {
    margin-right: 10px;
  }
  &__card {
    margin-top: 64px;
    margin-bottom: 96px;
  }
}
