.navigation {
  background-color: $pink-color;
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    min-height: 148px;
    margin: 0 auto;
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
  }
  &__item {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }
  &__link {
    color: $grey-text-color;
    margin: 0 2px 0 2px;
  }
  &__link--active {
    font-weight: 700;
    color: $pink_text-color;
  }
  &__titel {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $pink_text-color;
    text-transform: uppercase;
  }
}
.goods {
  max-width: 1140px;
  margin: 0 auto;
  &__container {
    margin-top: 50px;
  }
  &__button-filter {
    background-color: white;
    color: $black-color;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    border: none;
    white-space: nowrap;
  }
  &__button-text {
    margin-right: 10px;
  }
  &__card {
    margin-top: 64px;
    margin-bottom: 96px;
  }
}
