.footer  {
  &__container {
    max-width: 1600px;
    margin: 0 auto;
  }

  &__wrapper {
    background-image: url(../img/banner_footer.png);
    display: flex;
    align-items: center;
    min-height: 448px;
  }
  &__content {
    width: 50%;
    text-align: center;
    &-wrap {
      max-width: 360px;
      padding-left: 230px;
    }
  }
  &__foto {
    padding-bottom: 30px;
  }
  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $black-color;
  }
  &__sub {
    width: 50%;
    text-align: center;
  }
  &__titel {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: $black-color;
  }
  &__headline {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 32px;
    color: $black-color;
  }
  &__form {
    min-height: 49px;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.2s;
    max-width: 330px;
    margin-left: 224px;
  }
  &__email {
    padding-left: 24px;
    padding-right: 78px;
    background-color: $grey_bg-color;
    border-radius: 25px 0 0 25px;
    border: 1px solid transparent;
    transition-duration: 0.2s;
  }
  &__email:focus-visible {
    border-color: rgba(241, 109, 127, 0.7);
    outline: transparent;
  }
  &__button {
    min-width: 100px;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color:$pink_text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $pink-color;
    cursor: pointer;
  }
.fotter__button:hover {
  color: $pink_text-color;
  background-color: $white-color;
} 

  &__holder {
    background-color: $black-color;
    &-text {
      color: $white-color;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }
    &-container {
      max-width: 1140px;
      margin: 0 auto;
      min-height: 80px;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 24px;
    }
  }
  &__list {
    display: flex;
  }
  &__item:not(:last-of-type) {
    margin:0 7px 0 0;
  }
}