
.header {
  background-color: $black-color;
  min-height: 72px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-left: 230px;
  padding-right: 230px;
}
.header__button {
  background-color: $black-color;
  border: none;
}
.header__menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 440px;
}
.header__menu-item {
  margin-right: 33px;
}
.header__button {
  margin-left: 33px;
}
